{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">

	<link href='{% static "./FeFCsc2.TTF" %}' type='text/css'>

	<style type="text/css">
	html, 
	body {
	height: 100%;
	}

	body {

		display: flex;
		margin: 0;
		padding: 0;
		background-image: url(https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/69748558_2507420602630431_8501811771575631872_o.jpg?_nc_cat=104&_nc_oc=AQmjjVcW6YTb6-6MEeR4KyRvEyCG3Lv0sxyIsDKZLRtHfx8BhJAsS4CZi1vQraDB9Do&_nc_ht=scontent.fcgk4-2.fna&oh=376755a5c9be6e472fa2b4135ce90979&oe=5E01D39F);
		-webkit-background-size: cover;
		background-size: cover;
	}

	.rec1 {
	  height: 700px;
	  width: 320px;
	  background: rgba(0,0,0,0.5);
	  color: white;
	  left: 0px;
	  top: 0px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	img {
		width: 150px;
		display: block;
		align-content: left;
  		border:3px solid white;
		border-radius: 500%;

	}
	#block_container
	{
	    text-align:left;
	    border-bottom: 5px solid #F88C00;
	    padding-left: 5px;
	    padding-bottom:7px;

	}
	#bloc1, #bloc2
	{
	    display:inline-block;
	    vertical-align: middle;
	}
	#bloc2 {
		padding-left: 5px;
	}

	.greeting {
		color: white;
		display:inline-block;
		padding-top: 15px;
		padding-bottom: 15px;
		font-family: 'Merriweather', serif;
		font-size: 70px; 
		line-height: 1;
		padding-left: 5px;
		 
	}

	.aboutme {
		margin-right: 100px;
		margin-left: 100px;
		width: 120px;
		padding-top: 15px; 
		text-align: center;
		font-size: 25px;
		border-bottom: 1px solid white;
	}

	.text {
		padding-right: 25px;
		padding-left: 25px; 
		padding-top: 5px; 
		text-align: center;
		font-size: 18px;
	}

	.rec2 {
		margin-left: 150px;
		margin-right: 150px;
		height: 180px;
		width: 3050px;
		background: rgba(241, 209, 155,0.5);
		left: 0px;
		top: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.npm {
		font-size: 30px;
		padding: 10px;
		padding-top: 10px;
	}
	.angkatan, .hobi{
		font-size: 30px;
		padding: 10px;	
	}
	</style>
	<title>My Bio</title>
</head>
<body>
	<div class="rec1">
		<div id="block_container">
		    <div id="bloc1"><img src="{% static 'cropped.png'%}"></div>  
		    <div id="bloc2" style="font-size: 40px">Nicolas </br> Henry </br>Wijaya</div>

		</div>
		<div class="greeting">
			Hey </br> There !
		</div>
		<div class="aboutme">
			About Me
		</div>
		<div class="text">
			<p align="justify">I'm just an ordinary boy who loves musics, films, and books. As the only child, i often 
			spend my leisure times alone with my gadgets or books, and that's make me a dominant introvert.
			Oh! I am a big fan of kpop too!</p>
		</div>
	</div>

	<div class="rec2">
		<div class="npm">
			<b>NPM</b>: 1806191566
		</div>
		<div class="angkatan">
			<b>Angkatan</b>: Quanta 2018
		</div>
		<div class="hobi">
			<b>Hobby</b>: Listening to music, watching movies
		</div>
	</div>
</body>
</html>